.app.dark {
    --bg-color: rgb(29 29 100);
    --invert-bg-color: #83bbc8;
    --primary-color: rgb(99 120 189);
    --secondary-color: rgb(49 88 126);
    --inverted-primary-color: #233647;
    --inverted-secondary-color: #4ca2ec;
}
