.app.light {
    --bg-color: #78b1fb;
    --invert-bg-color: rgb(10 10 239);
    --primary-color: hsl(209deg 47% 11%);
    --secondary-color: #032544;
    --inverted-primary-color: rgb(64 152 230);
    --inverted-secondary-color: rgb(146 198 243);
}
